##Python Basics

In [ ]:
print("Welcome to Python Workshop, cool...")
print("Hello Python")

# This is my Notebook

## This is my Notebook

### This is my Notebook

### Comments in Python

In [ ]:
# Practice = Perfect
# Exercise 1 : Print your name

In [ ]:
print("hello world")

hello world

In [ ]:
print("My name is Amroz Siddiqui")

My name is Amroz Siddiqui

### Variables

In [ ]:
a = 10
print(a)

10

In [ ]:
# defining a variable : In Python there is no need to mention the data type

var1 = 10      # An integer assignment
var2 = 3.146   # A floating point
var3 = "Hello" # A string
var4 = "This is how I write code in Python"

#print("var1 = ",var1)
#print("var2 = ",var2)
print("var4 = ",var4)

var4 =  This is how I write code in Python

### Basic Operators

In [ ]:
z = var1 + var2

print("z = ",z)

x = var1 * var2

print(var1," x ",var2," = ",x)

In [ ]:
x = 50
y = 7

# Add two operands
print('x + y =', x+y) # Output: x + y = 18

# Subtract right operand from the left
print('x - y =', x-y) # Output: x - y = 10

# Multiply two operands
print('x * y =', x*y) # Output: x * y = 56

# Divide left operand by the right one 
print('x / y =', x/y) # Output: x / y = 3.5

# Floor division (quotient)
print('x // y =', x//y) # Output: x // y = 3

# Remainder of the division of left operand by the right
print('x % y =', x%y) # Output: x % y = 2

# Left operand raised to the power of right (x^y)
print('x ** y =', x**y) # Output: x ** y = 38416

In [ ]:
# Exercise 2 : Solve exercise 2 in this cell.


x = 5 
y = 1

print(x,'x',y,'=',(x*y))
y =2
print(x,'x',y,'=',(x*y))
y =3
print(x,'x',y,'=',(x*y))

### Assignment Operators

In [ ]:
x = 25

# x += 5 ----> x = x + 5
x +=5
print(x) 

# x /= 5 ----> x = x / 5
x /= 5
print(x) 


x *= 5
print(x)

In [ ]:
# Assigning same value to multiple variables
a = b = c = d = e = 30

print("a = ",a)
print("b = ",b)
print("c = ",c)
print("d = ",d)
print("e = ",e)

In [ ]:
# Assigning Different values to variable in a single expression

var1, var2, var3 = "Holmes","Bond","Hunt"
print(var1,' ',var2,' ',var3)

# Note: commas can be used for multi-assignments

### Taking input from user

In [ ]:
pwd = input("Enter your password : ")
print("Your Password is : ",pwd,"\nYour account is hacked...")

In [ ]:
### What is going wrong in this code snippet???


a = input("Enter value for a : ")
print("a : ",a)
b = input("Enter value for b : ")
print("b : ",b)

a = int(a)
b = int(b)
c = a + b

print("c : ",c)

Enter value for a : 4
a :  4
Enter value for b : 6
b :  6
c :  10

In [ ]:
a = 10
b = "ten"
c = b+str(a)

print(type(a))
print(type(b))
print(c)

<class 'int'>
<class 'str'>
ten10

## Type
The process of converting the value of one data type (integer, string, float, etc.) to another is called type conversion. Python has two types of type conversion.

### Implicit Type Conversion

Implicit conversion doesn't need any user involvement. For example:

In [ ]:
num_int = 45  # integer type
num_flo = 4.5 # float type

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

### Explicit Conversion
In case of explicit conversion, you convert the datatype of an object to the required data type. We use predefined functions like int(), float(), str() etc. to perform explicit type conversion. For example:

In [ ]:
num_int = 123  # int type
num_str = "456" # str type

# explicitly converted to int type  CHECK: Remove type conversion and see what happens
num_str = int(num_str) 

print(num_int+num_str)

In [ ]:
### The correct code is :


a = int(input("Enter value for a : "))
print("a : ",a)
b = int(input("Enter value for b : "))
print("b : ",b)

c = a + b

print("c : ",c)

## Changing flow of execution




### if statement

In [ ]:
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = int(input("Enter your choice [1-4] : "))

if choice == 1:
  z = a+b
  op = " + "
if choice == 2:
  z = a-b
  op = " - "
if choice == 3:
  z = a*b
  op = " x "
if choice == 4:
  op = " / "
  z = a/b
  
print(a,op,b," = ",z)

## Relational Operators
### <, >, <=, >=, ==, !=

In [ ]:
a, b, c = 5, 7, 13

if a<b:
  print("Whoopie")

if b>0:
  print("To be or not to be that is the question")

if c <= 13:
  print("Rats live on no evil star")
  
if a + b != c:
  print("May the odds be ever with you")
  
if c - b - 1 == a:
  print("Shaken not stirred!!!")

## Logical Operators
### and, or, not

In [ ]:
if a<b and b<c:
  print("Yaay...")

if (a+b) == 12 or c>20:
  print("Whattannabannadu")
  
p = ((a+b)<10)
q = ((c-a)==8)

print(p)
print(q)

if not p:
  print("All hands to the boat")
  
if q:
  print("We walk to the ship")

## Looping
### for loop

In [ ]:
for x in range(10):
  print("I have ",x," apples")

In [ ]:
for x in range(3,8):
  print(x)

In [ ]:
for x in range(3,30,3):
  print(x)

In [ ]:
for x in range(10,0,-1):
  print(x)

In [ ]:
for x in range(0,-5,-1):
  print(x)

## String Operations

In [ ]:
# String operations

str = 'Everything that has a beginning, has an end'  # A string

print(str)          # Prints complete string
print(str[0])       # Prints first character of the string
print(str[2:5])     # Prints characters starting from 3rd to 5th element
print(str[2:])      # Prints string starting from 3rd character
print(str[:2])
print(str * 2)      # Prints string two times
print(str + "--Matrix Revolution") # Prints concatenated string

### Hex Bin Oct Dec

In [ ]:
x = bin(10)
y = hex(20)
z = oct(15)
w = int("0o17",8)
print(x)
print(y)
print(z)

w = int("0o17",8)
print(w)

w = int("0xff05",16)
print(w)

w = int("0b11010010",2)
print(w)

## Binary Operators
### and &
### or |
### xor ^
### left shift << 
### right shift >>

In [ ]:
a, b = 19, 23

c = a&b
print("AND")
print(bin(a))
print(bin(b))
print(bin(c))

In [ ]:
c = a|b
print("OR")
print(bin(a))
print(bin(b))
print(bin(c))

In [ ]:
c = a^b
print("XOR")

print(bin(a))
print(bin(b))
print(bin(c))

## Data Structures
### Lists
### Tuples
### Dictionaries
### Sets

In [ ]:
# Python Lists
list = [ 'abcd', 76 , 2.23, 'john', 70.2 ]  # A list
tuple = ( 'abcd', 76 , 2.23, 'john', 70.2  ) # A tuple. Tuples are immutable, i.e. cannot be edit later

print(list)            # Prints complete list
print(list[0])         # Prints first element of the list
print(tuple[1:3])        # Prints elements starting from 2nd till 3rd

In [ ]:
# As a 2D array 
# Check + and * operators

a = [[1,2,3],[4,5,6],[7,8,9]]
b = [[1,2,1],[3,4,5],[4,3,2]]
print(a)
print(b)

In [ ]:
# Lists are ordered sets of objects, whereas dictionaries are unordered sets. 
# But the main difference is that items in dictionaries are accessed via keys and not via their position.
tel = {'Sherlock': 4098, 'Watson': 4139}
tel['Moriarty'] = 4127
print(tel)
print(tel['Sherlock'])
del tel['Watson']
tel['Lestrade'] = 4127
tel['rahul'] = 1000
print(tel)
print(tel.keys())
print(sorted(tel.keys()))
print(sorted(tel.values()))
print('Lestrade' in tel)
print('Watson' not in tel)
print('Watson' in tel)

In [ ]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

In [ ]:
A = {1, 2, 3}
B = {2, 3, 4, 5}

# Equivalent to A.union(B) 
# Also equivalent to B.union(A)
print(A | B) # Output: {1, 2, 3, 4, 5}

# Equivalent to A.intersection(B)
# Also equivalent to B.intersection(A)
print (A & B) # Output: {2, 3}

# Set Difference
print (A - B) # Output: {1}

# Set Symmetric Difference
print(A ^ B)  # Output: {1, 4, 5}

### Functions

In [ ]:
def area(length,width):
    return length*width
are = area(10,20)
print("Area of rectangle:",are)